/*
Author: Tim Storck
Web Developement II
Responsive
February 18, 2016
*/


body {
    font: 1em Arial, Helvetica, sans-serif;
    background-color: white;
    margin-top:32px;
}

.solid {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,0.4) 2px 3px 5px;
    border: 1px black solid;
}

#layout {
    width: 800px;
    margin: auto;
}

#header {
    width: 649px;
    height: 487px;
    padding:0;
    margin-bottom: 23px;
    margin-left: calc(50% - 324px);
    text-align: center;
    background-image: url("img/cheet.jpg");
}

/*header:hover{
    
}*/

#nav {
    width: 20%;
    float: left;
    margin-right:10px;
}

#nav ul{
    margin-left: -45px;
    text-align: center;
}

#nav li{
    list-style: none;
}

#nav a{
    text-decoration: none;
}

#nav a:hover{
    color: black;
}

#main {
    width: 60%;
    margin-left: 20%;/////////remove if nav bar put back [3/2/16]
    float: left;
    text-align: center;
    /*display:inline;*/
}

#left {
    text-align: left;
}

#footer {
    width: 100%;
    float:left;
    clear: left;
    margin-top: 23px;
    margin-bottom:7px;
    text-align: right;
}